* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&display=swap');



body {
    font-family: 'Heebo', sans-serif;
}


/* ------------------- navbar start --------------------- */

.list {
    display: flex;
    gap: 30px;
    padding-top: 30px;
}


.list_item {
    font-weight: 500;
    font-size: 20px;
    text-align: right;
    color: #000000;
}

/* ----------------------- header start ------------------------ */
.text_person {
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    color: #21243D;
}
.text-all {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-top: 40px;
    color: #21243D;
}
.button_person {
    font-family: 'Heebo';
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    padding: 5px 20px;
    border: none;
    background: #FF6464;
    border-radius: 2px;
    margin-top: 30px;
}
.person_image{
    width: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
header{
    padding-top: 100px;
}